
@{
    ViewBag.Title = "Index";
}
<div class="text-center">
    <br/>
<p>Were going to a have a party!</p>

<img src="~/Content/download.jpg" width="600" />

<br/>
<p>And your invited...</p>
<div class="btn btn-success">
@Html.ActionLink("RSVP Now", "RsvpForm")
 </div>
</div>